* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: lightslategray;
  
  font-family: sans-serif;
  font-size: 16px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
}

.link {
  cursor: pointer;
  transition: transform .2s;
}

.link:hover {
  transform: translateY(-4px);
  transition: transform .2s;
}

p a {
  text-decoration: none;
}

#error {
  background-color: darkred;
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: inline-block;
  padding: 10px 20px;
  color: white;
}

#loading {
  position: fixed;
  top: 0;
  right: 0;
  margin: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

@keyframes loading-dot {
  60% { height: 50px; }
  90% { height: 10px; }
}

#loading .box {
  display: inline-block;
  clear: both;
  background-color: whitesmoke;
  opacity: .6;
  height: 10px;
  margin: 1px;
  width: 10px;
  animation: loading-dot 1s infinite ease-in-out;
}

#loading .box:nth-child(2) {
  animation-delay: .1s;
}

#loading .box:nth-child(3) {
  animation-delay: .2s;
}

#loading .box:nth-child(4) {
  animation-delay: .3s;
}

#loading .box:nth-child(5) {
  animation-delay: .4s;
}

#loading .box:nth-child(6) {
  animation-delay: .5s;
}

#back {
  position: fixed;
  top: 0;
  left: 0;
  margin: 24px;
  padding: 6px 10px;

  background-color: black;
  color: white;
  text-align: center;
  vertical-align: center;
  z-index: 5;
  opacity: .6;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .link {
  padding: 6px 10px;
  background-color: black;
  color: white;
  display: inline-block;
  opacity: .6;
  margin: 6px 3px;
}

#search {
  display: flex;
  justify-content: center;
  margin: 6px 3px;
}

#search input {
  font-size: 1em;
  padding: 5px 10px;
}

#search .button {
  background-color: black;
  color: white;
  opacity: .6;
  cursor: pointer;
}

#page-info {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: .6;
  margin: 24px;
}

#page-info .name {
  padding: 6px 10px;
  background-color: black;
  color: white;
  display: inline-block;
}

#page-info .cont {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: left;
  height: 70px;
}

#page-info {
  display: flex;
  align-items: inherit;
  align-items: flex-end;
}

#page-info .thumb {
  max-width: 70px;
  max-height: 70px;
}

#page-info .name {
  margin: 0 6px;
}

#page-info .name:not(:first-child) {
  margin-top: 6px;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#list > .thumbnail {
  margin: 3px;
  display: inline-block;
  height: 360px;
  width: 360px;

  background-color: white;
  position: relative;
}

#list .thumbnail img {
  max-width: 360px;
  max-height: 360px;
  margin: auto;
}

@media (max-width: 1100px) {
  #list > .thumbnail {
    height: 260px;
    width: 260px;
  }

  #list .thumbnail img {
    max-width: 260px;
    max-height: 260px;
  }
}

#more {
  width: 100%;
  display: flex;
}

#more .cont {
  margin: 16px auto;
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
}

#list .count {
  z-index: 1;
  position: absolute;
  bottom: 0;
  right: 0;
  
  margin: 6px;
  
  background-color: white;
  color: black;
  opacity: .5;
  padding: 3px 5px 2px;
}

#detail {
  padding: 16px;
}

#detail .picture {
  width: 100%;
  text-align: center;
}

#detail .picture img {
  max-height: calc(100vh - 110px);
  max-width: calc(100vw - 50px);
  width: auto;
  height: auto;
  margin: 6px auto;
}

#detail-info {
  background-color: whitesmoke;
  color: #333;
  z-index: 7;
  position: relative;
  margin: 12px;
}

#detail-info >* {
  padding: 12px 24px;
}

#detail-info > *:not(:last-child) {
  border-bottom: 5px solid lightslategray;
}

#detail-info .tag {

  margin: 2px;
  display: inline-block;
}

#detail-info .tag .link {
  background-color: #333;
  color: white;
  padding: 2px 5px;
  margin-left: 1px;
}
